.product img {
    height: 238px;
    width: 238px;
}

.product {
    height: 500px;
    width: 300px;
}

.product-name {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 25px;

}